<!DOCTYPE html>
<html>
<head>
    <title>Expert Register</title>
</head>
<body>

<h2>Register as Expert</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Enter Name" required><br><br>

    <input type="email" name="email" placeholder="Enter Email" required><br><br>

    <input type="text" name="skill" placeholder="Enter Skill (zapier, n8n)" required><br><br>

    <textarea name="solution" placeholder="Explain your approach" required></textarea><br><br>

    <select name="gender" required>
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>